.gameOverCena {
    -fx-background-color: black;
    background-color: black;
}
.gameOverLabel {
    font-family: 'Koulen';
    -fx-font-family: 'Koulen';
    -fx-padding: 35px;
    padding: 35px;
    -fx-font-size: 75px;
    font-size: 21px;
}
.gameOverButton {
    -fx-background-color: #636465;
	-fx-font-size: 35px;
    -fx-text-fill: #FFF;
    background-color: #636465;
    font-size: 35px;
}